@import url("https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Andada+Pro:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Anton&family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Baloo+Da+2:wght@400;500;600;700;800&family=Cookie&family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Galada&family=Hahmlet:wght@100;200;300;400;500;600;700;800;900&family=Hurricane&family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mrs+Saint+Delafield&family=Ms+Madi&family=Noto+Serif+Bengali:wght@100;200;300;400;500;600;700;800;900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200;300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&family=Sacramento&family=Sora:wght@100;200;300;400;500;600;700;800&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stalemate&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: 0px;
  scrollbar-color: transparent;
}

/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
  width: 0px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 1px;
}

@layer components {
  .nav-style {
    @apply rounded-sm px-3 py-2 hover:font-bold  transition-all duration-200   hover:underline decoration-4  font-semibold;
  }
}
@layer components {
  .card-style {
    @apply flex flex-col text-justify lg:flex-row lg:justify-center lg:gap-[10rem];
  }
}
@layer components {
  .footer-style {
    @apply rounded-lg bg-white shadow dark:bg-gray-900 md:px-6 md:py-8;
  }
}

@layer components {
  .hover-animation {
    @apply duration-500 ease-in-out hover:translate-y-2;
  }
}

@layer components {
  .hover-animation-slow {
    @apply duration-1000 ease-in-out hover:translate-y-2;
  }
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 1px;
  border: 1px solid transparent;
}

.nav-content {
  transform: rotate(-45deg);
}
.nav-content span {
  transform: rotate(calc(var(--i) * (360deg / 8))) translateY(120px);
  position: absolute;
}
.nav-content span a {
  transform: rotate(45deg);
}
.nav-content span a i {
  transform: rotate(calc(var(--i) * (360deg / -8)));
}

@layer base {
  :root {
    --theme-background: #ebf1f3;
    --theme-backgroundVariant: #f6fafd;
    --theme-on-background: #474747;
    --theme-on-backgroundVariant: #303030;
    --theme-primary: #1e1c57;
    --theme-primaryVariant: #19174b;
    --theme-on-primary: #e2e2e2;
    --theme-on-primaryVariant: #e9e9e9;
    --theme-secondary: #fdfeff;
    --theme-on-secondary: #474747;
    --theme-secondary-variant: #303030;
    --theme-surface: #ffffff;
    --theme-on-surface: #474747;
    --theme-on-surfaceVariant: #303030;
    --theme-error: #b12e06;
    --theme-on-error: #ffffff;
    --theme-success: #02692a;
    --theme-on-success: #ffffff;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.theme-dark {
  --theme-background: #37474f;
  --theme-backgroundVariant: #263238;
  --theme-on-background: #f7f8f7;
  --theme-on-backgroundVariant: #dcdcdd;
  --theme-primary: #051b30;
  --theme-primaryVariant: #031629;
  --theme-on-primary: #ffffff;
  --theme-on-primaryVariant: #dbd8f0;
  --theme-secondary: #0ff768;
  --theme-on-secondary: #37474f;
  --theme-secondary-variant: #000;
  --theme-surface: #455a64;
  --theme-on-surface: #ffff;
  --theme-on-surfaceVariant: rgb(217, 240, 226);
  --theme-error: #f73e06;
  --theme-on-error: #ffffff;
  --theme-success: #08b149;
  --theme-on-success: #ffffff;
}

html {
  scroll-behavior: smooth;
}

.typing-demo {
  width: 73ch;
  animation: typing 10s steps(70) infinite alternate,
    blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  word-wrap: wrap;
  overflow: hidden;
  border-right: 3px solid;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.text-sideways {
  writing-mode: tb-rl;
}
